# 2일차

In [1]:
학생_성적 = [
    {'이름': '철수', '국어': 100, '영어': 80, '수학': 90},
    {'이름': '영희', '국어': 90, '영어': 70, '수학': 70},
    {'이름': '스티브',` '국어': 50, '영어': 100, '수학': 50},
]
학생_성적

[{'이름': '철수', '국어': 100, '영어': 80, '수학': 90},
 {'이름': '영희', '국어': 90, '영어': 70, '수학': 70},
 {'이름': '스티브', '국어': 50, '영어': 100, '수학': 50}]

In [2]:
[1, 2, 3, 'a', 'b', 4.5, ['python', 'django', {}]]

[1, 2, 3, 'a', 'b', 4.5, ['python', 'django', {}]]

In [6]:
메뉴_리스트 = ['김치찌개', '김밥', '라면']

# 메뉴_리스트.contains("김밥")  # Java라면

print('김밥' in 메뉴_리스트)
print('김치' in 메뉴_리스트)
print('김치' in 메뉴_리스트[0])
print('김치' not in 메뉴_리스트[0])

True
False
True
False

In [9]:
철수_성적 = {'이름': '철수', '국어': 100, '영어': 80, '수학': 90}  # 끝 콤마 필히 제거
type(철수_성적)

dict

In [14]:
# mylist.append(항목)  # 리스트에서의 1개 항목 추가
# myset.add(항목)      # 집합ㄹ에서의 1개 항목 추가

In [17]:
철수_성적['사회'] = 80
철수_성적

{'이름': '철수', '국어': 100, '영어': 80, '수학': 90, '사회': 80}

In [18]:
# 철수_성적['영어']  = 철수_성적['영어'] + 5
철수_성적['영어'] += 5
철수_성적

{'이름': '철수', '국어': 100, '영어': 85, '수학': 90, '사회': 80}

In [19]:
철수_성적['과학'] += 10

KeyError: '과학'

In [20]:
100 in 철수_성적

False

In [22]:
'국어' in 철수_성적

True

In [26]:
if '과학' not in 철수_성적:
    철수_성적['과학'] = 0  # 디폴트 값 적용
철수_성적['과학'] += 10
철수_성적

{'이름': '철수', '국어': 100, '영어': 85, '수학': 90, '사회': 80, '과학': 30}

In [27]:
i = 10

In [28]:
i

10

In [29]:
del i

In [30]:
i

NameError: name 'i' is not defined

In [32]:
del 철수_성적['과학']  # '과학' Key/Value 삭제
철수_성적

{'이름': '철수', '국어': 100, '영어': 85, '수학': 90, '사회': 80}

In [34]:
# 지리, 음악, 미술
# 철수_성적['지리'] = 90
# 철수_성적['음악'] = 80
# 철수_성적['미술'] = 95

철수_성적.update({'지리': 90, '음악': 80, '미술': 95})
철수_성적

{'이름': '철수',
 '국어': 100,
 '영어': 85,
 '수학': 90,
 '사회': 80,
 '지리': 90,
 '음악': 80,
 '미술': 95}

## 제어구조
### 조건문

In [35]:
숫자 = 21

if 숫자 % 2 == 0:
    print("짝수")

if 숫자 % 2 != 0:
    print("홀수")

홀수

In [39]:
if 숫자 % 2 == 0:
    print("짝수")
else:
    print("홀수")

홀수

In [49]:
import random

number = random.randint(1, 40)

In [53]:
if number < 10:
    print("1의 자리수")

if number >= 10 and number < 20:
    print("10의 자리수")

if number >= 20 and number < 30:
    print("20의 자리수")

if number >= 30:
    print("큰 수")

10의 자리수

In [54]:
if number < 10:
    print("1의 자리수")

elif number < 20:
    print("10의 자리수")

elif number < 30:
    print("20의 자리수")

else:
    print("큰 수")

10의 자리수

In [55]:
model_name = 'iPhone XS'

model_name == 'Galaxy 10s'

False

### 반복문

In [61]:
숫자 = 19

print("{} * {} = {}".format(숫자, 1, 숫자 * 1))
print("{} * {} = {}".format(숫자, 2, 숫자 * 2))
print("{} * {} = {}".format(숫자, 3, 숫자 * 3))
# ...
print("{} * {} = {}".format(숫자, 9, 숫자 * 9))

19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 9 = 171

In [68]:
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9]:
    print(i)

1
2
3
4
5
6
7
8
9

In [72]:
# 일정범위로 증가하는 수의 목록을 만들어주는 함수
range(1, 10, 1)  # 1이상, 10미만, 1씩 증가 => Generator

range(1, 10)

In [73]:
for i in range(1, 10, 1):
    print(i)

1
2
3
4
5
6
7
8
9

In [78]:
숫자 = 2

for i in range(1, 10, 1):
    print("{} * {} = {}".format(숫자, i, 숫자 * i))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [96]:
for 숫자 in range(2, 10, 1):
    print("### {}단 ###".format(숫자))
    for i in range(1, 10, 1):
        print("{} * {} = {}".format(숫자, i, 숫자 * i))
    print()

### 2단 ###
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

### 3단 ###
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

### 4단 ###
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

### 5단 ###
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

### 6단 ###
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

### 7단 ###
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

### 8단 ###
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

### 9단 ###
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81