# 환경설정 보충

https://gist.github.com/allieus/b7ea5797459b47c91589c4253ad2b2b9

폰트의 종류

+ 고정폭 폰트 : Tahoma, D2Coding 등
+ 가변폭 폰트

# data

아래 구조가 되도록, 압축을 풀어주세요.

+ `"c:\Users\계정명\data\titanic\train.csv"`
+ `"c:\Users\계정명\data\titanic\test.csv"`

# 3일차

## titanic 맛보기

In [1]:
import pandas as pd

train_df = pd.read_csv('data/titanic/train.csv', index_col='PassengerId')
print(train_df.shape)
train_df.head()

(891, 11)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
test_df = pd.read_csv('data/titanic/test.csv', index_col='PassengerId')
print(test_df.shape)
test_df.head()

(418, 10)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [3]:
train_df.Survived.mean()  # 전체 생존율

0.3838383838383838

In [4]:
mask = train_df.Sex == 'male'
train_df.loc[mask].Survived.mean()

0.18890814558058924

In [5]:
mask = train_df.Sex == 'female'
train_df.loc[mask].Survived.mean()

0.7420382165605095

In [11]:
mask = test_df.Sex == 'male'
test_df.loc[mask, 'Survived'] = 0

mask = test_df.Sex == 'female'
test_df.loc[mask, 'Survived'] = 1

In [20]:
test_df.Survived = test_df.Survived.astype(int)  # 정수타입으로 변환

In [21]:
test_df[['Sex', 'Survived']].head()

                Sex  Survived
PassengerId
892            male         0
893          female         1
894            male         0
895            male         0
896          female         1

In [22]:
test_df[['Survived']].to_csv('data/titanic/submition.csv')

## 빌트인 함수

### sorted

In [23]:
import random

number_list = random.sample(range(1, 100), 6)
number_list

[4, 72, 68, 12, 9, 56]

In [24]:
sorted(number_list)

[4, 9, 12, 56, 68, 72]

In [25]:
sorted(number_list, reverse=True)

[72, 68, 56, 12, 9, 4]

In [26]:
def sorted_fn(value):
    return value % 10

sorted(number_list, key=sorted_fn)

[72, 12, 4, 56, 68, 9]

In [27]:
sorted(number_list, key=lambda value: value % 10)

[72, 12, 4, 56, 68, 9]

In [30]:
import pandas as pd

df = pd.read_csv("https://gist.githubusercontent.com/allieus/c1009fbf0e12df3bcd95269422f17a19/raw/0aacdeb6a372aba4664f087e7450779990224e59/%25EC%2597%2591%25EC%2585%2580_%25EB%25A9%259C%25EB%25A1%25A0%25EC%25B0%25A8%25ED%258A%25B8_top100.csv")  # SSL Error

data = df.to_dict()
columns = data.keys()
song_list = [
    {column: data[column][idx] for column in columns}
    for idx in range(100)]

len(song_list)

100

In [31]:
song_list[0]

{'곡일련번호': 31346009,
 '순위': 1,
 '앨범': '삐삐',
 '곡명': '삐삐',
 '가수': '아이유',
 '커버이미지_주소': 'https://cdnimg.melon.co.kr/cm/album/images/102/10/535/10210535_500.jpg/melon/resize/120/quality/80/optimize',
 '좋아요': 61528}

In [32]:
sorted(song_list)

TypeError: '<' not supported between instances of 'dict' and 'dict'

In [36]:
def sorted_fn(song):
    return song['좋아요']

for song in sorted(song_list, key=sorted_fn, reverse=True):
    print(song['곡명'], song['가수'], song['좋아요'])

봄날 방탄소년단 359130
DNA 방탄소년단 323911
밤편지 아이유 283167
에너제틱 (Energetic) Wanna One (워너원) 268394
사랑을 했다 (LOVE SCENARIO) iKON 267692
선물 멜로망스 266869
FAKE LOVE 방탄소년단 253847
Way Back Home 숀 (SHAUN) 225308
Beautiful Wanna One (워너원) 216065
그날처럼 장덕철 208427
그리워하다 비투비 203463
뚜두뚜두 (DDU-DU DDU-DU) BLACKPINK 192831
여행 볼빨간사춘기 190489
모든 날, 모든 순간 (Every day, Every Moment) 폴킴 185706
지나오다 닐로 (Nilo) 178367
전하지 못한 진심 (Feat. Steve Aoki) 방탄소년단 176653
그때 헤어지면 돼 로이킴 176025
IDOL 방탄소년단 173279
비 폴킴 156761
HandClap Fitz & The Tantrums 156476
Universe EXO 155809
주지마 로꼬 154263
별이 빛나는 밤 마마무(Mamamoo) 145494
You 멜로망스 141103
Anpanman 방탄소년단 138694
약속해요 (I.P.U.) Wanna One (워너원) 137141
I`m Fine 방탄소년단 132847
너 없인 안 된다 비투비 132726
Power Up Red Velvet (레드벨벳) 130949
소나기 (Feat. 10cm) 용준형 130935
Euphoria 방탄소년단 129017
Airplane pt.2 방탄소년단 127355
Dance The Night Away TWICE (트와이스) 127052
여보세요 NU`EST 126064
밤 (Time for the moon night) 여자친구 (GFRIEND) 125760
BOOMERANG (부메랑) Wanna One (워너원) 124968
What is Love? TWICE (트와이스) 121530
My Way 이수 (엠씨 더 맥스) 119657
Forever Young BLACKPINK 119422
미안해 양다일 115955
열애중 벤 115805
SoulMate (Feat. 아이유) 지코 (ZICO) 113443
켜줘 (Light) Wanna One (워너원) 112878
花요일 (Blooming Day) EXO-CBX (첸백시) 110311
가을 안부 먼데이 키즈 (Monday Kiz) 109447
Answer : Love Myself 방탄소년단 108151
캥거루 (Kangaroo) (Prod. ZICO) Wanna One (워너원) - 트리플포지션 104852
Epiphany 방탄소년단 101011
Trivia 轉 : Seesaw 방탄소년단 98436
하루도 그대를 사랑하지 않은 적이 없었다 임창정 97984
우리 그만하자 로이킴 95771
너나 해 (Egotistic) 마마무(Mamamoo) 94861
WHERE YOU AT 뉴이스트 W 92753
사이렌 (Siren) 선미 91516
YOUNG 백현 (BAEKHYUN) 91106
Trivia 起 : Just Dance 방탄소년단 88970
지나갈 테니 (Been Through) EXO 88331
1도 없어 Apink (에이핑크) 88037
Trivia 承 : Love 방탄소년단 83610
모래시계 (Prod. 헤이즈) Wanna One (워너원) - 더힐 83296
Stay EXO 81556
동화 멜로망스 81522
넋두리 닐로 (Nilo) 81028
셋 셀테니 (1, 2, 3!) 승리 78381
헤어지는 중 펀치 (Punch) 77050
영원+1 (Prod. NELL) Wanna One (워너원) - 린온미 76313
A-TEEN 세븐틴 75932
flex (Prod. By 기리보이) 기리보이 72135
한(一) (여자)아이들 69062
11 (Prod. 다이나믹듀오) Wanna One (워너원) - 남바완 67211
죽겠다 (KILLING ME) iKON 66253
어쩌나 세븐틴 64770
매트리스 10cm 62312
Love U 청하 61670
삐삐 아이유 61528
이별길 (GOODBYE ROAD) iKON 55396
Good Day (Feat. 팔로알토) (Prod. 코드 쿤스트) pH-1 54022
We Young 찬열 53852
Dejavu 뉴이스트 W 53081
도망가지마 모트 (Motte) 48716
시간이 들겠지 (Feat. Colde) 로꼬 48331
IndiGO 저스디스 (JUSTHIS) 46739
몰랐니 (Lil` Touch) 소녀시대-Oh!GG 42853
좋은 날 멜로망스 33146
북극성 (Polaris) 뉴이스트 W 32098
Sheep (Alan Walker Relift) 레이 (LAY) 30411
가을 타나 봐 바이브 28056
사임사임 (Feat. CHANGMO) Coogie 27564
Signal 뉴이스트 W 27270
나 박원 26696
ylenoL 뉴이스트 W 26136
중력달 (Gravity&Moon;) 뉴이스트 W 26091
이별하러 가는 길 임한별 25182
잘 지내요 정승환 25169
Perfect 10cm 24732
AND I 뉴이스트 W 20736
I Don’t Care (with 스푼즈) 뉴이스트 W 13544
공상과학기술 (Feat. 기리보이, 스윙스) nafla 13148
패 (Feat. 넉살, 딥플로우) 김효은 10536
Not A Love 바이브 2508