# 2일차

In [1]:
학생_성적 = [
    {'이름': '철수', '국어': 100, '영어': 80, '수학': 90},
    {'이름': '영희', '국어': 90, '영어': 70, '수학': 70},
    {'이름': '스티브',` '국어': 50, '영어': 100, '수학': 50},
]
학생_성적

[{'이름': '철수', '국어': 100, '영어': 80, '수학': 90},
 {'이름': '영희', '국어': 90, '영어': 70, '수학': 70},
 {'이름': '스티브', '국어': 50, '영어': 100, '수학': 50}]

In [2]:
[1, 2, 3, 'a', 'b', 4.5, ['python', 'django', {}]]

[1, 2, 3, 'a', 'b', 4.5, ['python', 'django', {}]]

In [6]:
메뉴_리스트 = ['김치찌개', '김밥', '라면']

# 메뉴_리스트.contains("김밥")  # Java라면

print('김밥' in 메뉴_리스트)
print('김치' in 메뉴_리스트)
print('김치' in 메뉴_리스트[0])
print('김치' not in 메뉴_리스트[0])

True
False
True
False

In [9]:
철수_성적 = {'이름': '철수', '국어': 100, '영어': 80, '수학': 90}  # 끝 콤마 필히 제거
type(철수_성적)

dict

In [14]:
# mylist.append(항목)  # 리스트에서의 1개 항목 추가
# myset.add(항목)      # 집합ㄹ에서의 1개 항목 추가

In [17]:
철수_성적['사회'] = 80
철수_성적

{'이름': '철수', '국어': 100, '영어': 80, '수학': 90, '사회': 80}

In [18]:
# 철수_성적['영어']  = 철수_성적['영어'] + 5
철수_성적['영어'] += 5
철수_성적

{'이름': '철수', '국어': 100, '영어': 85, '수학': 90, '사회': 80}

In [19]:
철수_성적['과학'] += 10

KeyError: '과학'

In [20]:
100 in 철수_성적

False

In [22]:
'국어' in 철수_성적

True

In [26]:
if '과학' not in 철수_성적:
    철수_성적['과학'] = 0  # 디폴트 값 적용
철수_성적['과학'] += 10
철수_성적

{'이름': '철수', '국어': 100, '영어': 85, '수학': 90, '사회': 80, '과학': 30}

In [27]:
i = 10

In [28]:
i

10

In [29]:
del i

In [30]:
i

NameError: name 'i' is not defined

In [32]:
del 철수_성적['과학']  # '과학' Key/Value 삭제
철수_성적

{'이름': '철수', '국어': 100, '영어': 85, '수학': 90, '사회': 80}

In [34]:
# 지리, 음악, 미술
# 철수_성적['지리'] = 90
# 철수_성적['음악'] = 80
# 철수_성적['미술'] = 95

철수_성적.update({'지리': 90, '음악': 80, '미술': 95})
철수_성적

{'이름': '철수',
 '국어': 100,
 '영어': 85,
 '수학': 90,
 '사회': 80,
 '지리': 90,
 '음악': 80,
 '미술': 95}

## 제어구조
### 조건문

In [35]:
숫자 = 21

if 숫자 % 2 == 0:
    print("짝수")

if 숫자 % 2 != 0:
    print("홀수")

홀수

In [39]:
if 숫자 % 2 == 0:
    print("짝수")
else:
    print("홀수")

홀수

In [49]:
import random

number = random.randint(1, 40)

In [53]:
if number < 10:
    print("1의 자리수")

if number >= 10 and number < 20:
    print("10의 자리수")

if number >= 20 and number < 30:
    print("20의 자리수")

if number >= 30:
    print("큰 수")

10의 자리수

In [54]:
if number < 10:
    print("1의 자리수")

elif number < 20:
    print("10의 자리수")

elif number < 30:
    print("20의 자리수")

else:
    print("큰 수")

10의 자리수

In [55]:
model_name = 'iPhone XS'

model_name == 'Galaxy 10s'

False

### 반복문